
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProfissionalLabel" data-translate="fisioacusApp.profissional.home.createOrEditLabel">Create or edit a Profissional</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.profissional.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.profissional.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fisioacusApp.profissional.dtInicio" for="field_dtInicio">Dt Inicio</label>
                <div class="input-group">
                    <input id="field_dtInicio" type="text" class="form-control" name="dtInicio" uib-datepicker-popup="{{dateformat}}" ng-model="vm.profissional.dtInicio" is-open="vm.datePickerOpenStatus.dtInicio"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dtInicio')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dtInicio.$invalid">
                <p class="help-block"
                    ng-show="editForm.dtInicio.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fisioacusApp.profissional.dtTermino" for="field_dtTermino">Dt Termino</label>
                <div class="input-group">
                    <input id="field_dtTermino" type="text" class="form-control" name="dtTermino" uib-datepicker-popup="{{dateformat}}" ng-model="vm.profissional.dtTermino" is-open="vm.datePickerOpenStatus.dtTermino"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dtTermino')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="fisioacusApp.profissional.pessoa" for="field_pessoa">Pessoa</label>
            <select class="form-control" id="field_pessoa" name="pessoa" ng-model="vm.profissional.pessoaId" ng-options="pessoa.id as pessoa.nome for pessoa in vm.pessoas | orderBy:'id'" required>
                <option value=""></option>
            </select>
            <div ng-show="editForm.pessoa.$invalid">
                <p class="help-block"
                   ng-show="editForm.pessoa.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
