
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAtendimentoLabel" data-translate="fisioacusApp.atendimento.home.createOrEditLabel">Create or edit a Atendimento</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.atendimento.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.atendimento.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fisioacusApp.atendimento.numeroCartao" for="field_numeroCartao">Numero Cartao</label>
            <input type="text" class="form-control" name="numeroCartao" id="field_numeroCartao"
                    ng-model="vm.atendimento.numeroCartao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fisioacusApp.atendimento.desconto" for="field_desconto">Desconto</label>
                <input type="checkbox" name="desconto" id="field_desconto"
                          ng-model="vm.atendimento.desconto"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fisioacusApp.atendimento.valor" for="field_valor">Valor</label>
            <input type="number" class="form-control" name="valor" id="field_valor"
                    ng-model="vm.atendimento.valor"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fisioacusApp.atendimento.queixaPrincipal" for="field_queixaPrincipal">Queixa Principal</label>
            <input type="text" class="form-control" name="queixaPrincipal" id="field_queixaPrincipal"
                    ng-model="vm.atendimento.queixaPrincipal"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fisioacusApp.atendimento.hipoteseDiagnostica" for="field_hipoteseDiagnostica">Hipotese Diagnostica</label>
            <input type="text" class="form-control" name="hipoteseDiagnostica" id="field_hipoteseDiagnostica"
                    ng-model="vm.atendimento.hipoteseDiagnostica"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fisioacusApp.atendimento.dtInicio" for="field_dtInicio">Dt Inicio</label>
                <div class="input-group">
                    <input id="field_dtInicio" type="text" class="form-control" name="dtInicio" uib-datepicker-popup="{{dateformat}}" ng-model="vm.atendimento.dtInicio" is-open="vm.datePickerOpenStatus.dtInicio"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dtInicio')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fisioacusApp.atendimento.numeroAutenticador" for="field_numeroAutenticador">Numero Autenticador</label>
            <input type="text" class="form-control" name="numeroAutenticador" id="field_numeroAutenticador"
                    ng-model="vm.atendimento.numeroAutenticador"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fisioacusApp.atendimento.dtTermino" for="field_dtTermino">Dt Termino</label>
                <div class="input-group">
                    <input id="field_dtTermino" type="text" class="form-control" name="dtTermino" uib-datepicker-popup="{{dateformat}}" ng-model="vm.atendimento.dtTermino" is-open="vm.datePickerOpenStatus.dtTermino"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dtTermino')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fisioacusApp.atendimento.quantidadeSessoes" for="field_quantidadeSessoes">Quantidade Sessoes</label>
            <input type="number" class="form-control" name="quantidadeSessoes" id="field_quantidadeSessoes"
                    ng-model="vm.atendimento.quantidadeSessoes"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fisioacusApp.atendimento.observacao" for="field_observacao">Observacao</label>
            <input type="text" class="form-control" name="observacao" id="field_observacao"
                    ng-model="vm.atendimento.observacao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fisioacusApp.atendimento.cid" for="field_cid">Cid</label>
            <input type="text" class="form-control" name="cid" id="field_cid"
                    ng-model="vm.atendimento.cid"
                    />
        </div>

        <div class="form-group">
            <label data-translate="fisioacusApp.atendimento.convenio" for="field_convenio">Convenio</label>
            <select class="form-control" id="field_convenio" name="convenio" ng-model="vm.atendimento.convenioId" ng-options="convenio.id as convenio.descricao for convenio in vm.convenios | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="fisioacusApp.atendimento.pessoa" for="field_pessoa">Pessoa</label>
            <select class="form-control" id="field_pessoa" name="pessoa" ng-model="vm.atendimento.pessoaId" ng-options="pessoa.id as pessoa.nome for pessoa in vm.pessoas | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="fisioacusApp.atendimento.procedimento" for="field_procedimento">Procedimento</label>
            <select class="form-control" id="field_procedimento" name="procedimento" ng-model="vm.atendimento.procedimentoId" ng-options="procedimento.id as procedimento.descricao for procedimento in vm.procedimentos | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="fisioacusApp.atendimento.medico" for="field_medico">Medico</label>
            <select class="form-control" id="field_medico" name="medico" ng-model="vm.atendimento.medicoId" ng-options="medico.id as medico.nome for medico in vm.medicos | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
