<div>
    <h2 data-translate="fisioacusApp.atendimento.home.title">Atendimentos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="atendimento-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="fisioacusApp.atendimento.home.createLabel">
                        Create new Atendimento
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pessoaNome"><span data-translate="fisioacusApp.atendimento.pessoa">Pessoa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="convenioDescricao"><span data-translate="fisioacusApp.atendimento.convenio">Convenio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numeroCartao"><span data-translate="fisioacusApp.atendimento.numeroCartao">Numero Cartao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numeroAutenticador"><span data-translate="fisioacusApp.atendimento.numeroAutenticador">Numero Autenticador</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="medico"><span data-translate="fisioacusApp.atendimento.medico">Medico</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="atendimento in vm.atendimentos track by atendimento.id">
                    <td><a ui-sref="atendimento-my-suffix-detail({id:atendimento.id})">{{atendimento.id}}</a></td>
                    <td>
                        <a ui-sref="pessoa-my-suffix-detail({id:atendimento.pessoaId})">{{atendimento.pessoaNome}}</a>
                    </td>
                    <td>
                        <a ui-sref="convenio-my-suffix-detail({id:atendimento.convenioId})">{{atendimento.convenioDescricao}}</a>
                    </td>
                    <td>{{atendimento.numeroCartao}}</td>
                    <td>{{atendimento.numeroAutenticador}}</td>
                    <td>{{atendimento.medico}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="atendimento-my-suffix-detail({id:atendimento.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="atendimento-my-suffix.edit({id:atendimento.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="atendimento-my-suffix.delete({id:atendimento.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
